nav {
  overflow: hidden;
  background-color: beige;
  position: fixed;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
}
nav li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  padding: 0 2%;
  font-size: 1em;
}
nav li a {
  top: -50px;
  text-decoration: none;
}
nav li a:link {
  color: purple;
}
nav li a:visited {
  color: hotpink;
}

.title {
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-timing-function: ease;
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid purple;
}
.title h1 {
  font-size: 1.5;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-self: center;
  text-align: center;
}

@keyframes example {
  0% {
    background-color: aquamarine;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: #168e16;
  }
  100% {
    background-color: #74ff74;
  }
}
.about {
  display: flex;
  flex-direction: column;
  height: 870px;
  background-color: #f8fbfe;
  border-bottom: 4px solid purple;
}
.about h2 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  align-self: center;
}
.about div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about div .portrait {
  width: 200px;
  border-radius: 50%;
}
.about div p {
  font-family: "Roboto", sans-serif;
  margin: 20px 33px 10px 33px;
  text-align: center;
}
.about div .skills {
  width: 90vw;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about div .skills ul {
  position: center;
  text-align: center;
  flex-wrap: wrap;
}
.about div .skills li {
  font-size: 4em;
}
.about div h3 {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}
.about div ul {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin: 0 0 20px 0;
}
.about div ul li {
  margin: 20px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  padding: 0 2%;
  font-size: 1em;
  padding: 0;
  align-self: center;
}

#about {
  position: relative;
  top: -50px;
}

#projects {
  position: relative;
  top: -50px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects h2 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  align-self: center;
}
.projects div {
  position: center;
  text-align: center;
}
.projects div img {
  width: 300px;
  height: 200px;
  margin: 20px;
}

.contact {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  align-self: center;
}
.contact ul {
  list-style-type: none;
  font-size: 4em;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  text-align: center;
}
.contact ul li {
  padding: 30px;
}

/*# sourceMappingURL=styles.css.map */
