
nav {
  overflow: hidden;
  background-color: beige;
  position: fixed;
  width: 100%;


  ul {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
  }


  li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    padding: 0 2%;
    font-size: 1em;
    
    a {
      top: -50px;
      text-decoration: none;
     
      &:link {
        color: purple;
      }
      
      &:visited {
        color: hotpink;
      }
    }
  }

}


.title {
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-timing-function: ease;
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid purple;


 
  h1 { 
    font-size: 1.8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-self: center;
    text-align: center;
  } 
  
}

@keyframes example {
  0%   {background-color: aquamarine }
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  75% {background-color: rgb(22, 142, 22);}
  100% {background-color: rgb(116, 255, 116);}
}

.about {
  display: flex;
  flex-direction: column;
  // height: 870px;
  // background-color: rgb(248, 251, 254);
  border-bottom: 4px solid purple;


  h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    
  }

  div {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    .portrait {
        width: 200px;
        border-radius: 50%;
        border: 5px solid gray;
    }
    
    p {
      font-family: 'Roboto', sans-serif;
      margin: 20px 33px 10px 33px;
      text-align: center;
      padding-top: 10px;
      font-size: 1.1em;
    }

      .education {
        font-family: 'Roboto', sans-serif;
        list-style-type: disc;
        background-color: antiquewhite;
        margin: 20px;
        border: 5px solid gray;
        

        ul {
        display: flex;
        flex-direction: column;
        list-style-type: disc;
        padding-left: 10px;

        }

        li {
          list-style-type: disc;
          align-self: flex-start;

        }
      }

      .work {
        font-family: 'Roboto', sans-serif;
        list-style-type: disc;
        background-color: rgb(252, 230, 200);
        margin: 20px;
        border: 5px solid gray;

        ul {
        display: flex;
        flex-direction: column;
        list-style-type: disc;
        // border: 2px solid red;
        padding-left: 10px;

        }

        li {
          list-style-type: disc;
          // border: 2px solid red;
          align-self: flex-start;

        }
      }
    

    .skills {
      width: 90vw;
      // border: 2px solid red;
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        position: center;
        text-align: center;
        flex-wrap: wrap;
      }

      li {
        font-size: 4em;
      }
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      text-decoration: underline;
    }

    ul {
      display: flex;
      justify-content: center;
      align-self: center;
      padding: 0;
      margin: 0 0 20px 0;


      li {
        margin: 20px;
        list-style-type: none;
        font-family: 'Roboto', sans-serif;
        padding: 0 2%;
        font-size: 1em;
        padding: 0;
        align-self: center;
      }
    }
  }
}

#about {
  position: relative;
  top: -50px;
}

#projects {
  position: relative;
  top: -50px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid purple;
  padding-bottom: 10px;
  background-color: rgb(248, 251, 254);




  h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    align-self: center;
  }

  div {
    position: center;
    text-align: center;
    
    img {
      width: 300px;
      height: 200px;
      margin: 20px;
      border-radius: 5%;
      box-shadow: 7px 7px 5px #aaaaaa;   
    }
 }
}

.contact {
  display: flex;
  flex-direction: column; 
  align-items: center;

    h2 {
      font-size: 2em;
      font-family: 'Roboto', sans-serif;
      align-self: center;
      margin: 0;
      padding: 10px 0;
      margin-top: 20px;
    }

    ul {
      list-style-type: none;
      font-size: 4em;
      // border: 2px solid red;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      text-align: center;

      

      li {
        // border: 2px solid red;
        padding: 30px;
        width: 60px;
        margin: 10px; 
      }

      a {
        text-decoration: none;
      }
    } 
}


@media (min-width: 560px) {
  .education {
    width: 500px;
  }

  .work {
    width: 500px;
  }

  h1 {
    font-size: 2.3em;
  }

  nav ul li {
    font-size: 1.2em;
  }

  .about {
    font-size: 1.2em;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 2.7em;
  }

  nav ul li {
    font-size: 1.5em;
  }
}

@media (min-width: 1100px) {
  h1 {
    font-size: 3.3em;
  }
}



