nav {
  overflow: hidden;
  background-color: beige;
  position: fixed;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
}
nav li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  padding: 0 2%;
  font-size: 1em;
}
nav li a {
  top: -50px;
  text-decoration: none;
}
nav li a:link {
  color: purple;
}
nav li a:visited {
  color: hotpink;
}

.title {
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 1s;
  animation-timing-function: ease;
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid purple;
}
.title h1 {
  font-size: 1.8;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-self: center;
  text-align: center;
}

@keyframes example {
  0% {
    background-color: aquamarine;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: #168e16;
  }
  100% {
    background-color: #74ff74;
  }
}
.about {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid purple;
}
.about h2 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  align-self: center;
}
.about h3 {
  font-size: 1.3em;
}
.about div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about div .portrait {
  width: 200px;
  border-radius: 50%;
  border: 5px solid gray;
}
.about div p {
  font-family: "Roboto", sans-serif;
  margin: 20px 33px 10px 33px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
}
.about div .education {
  font-family: "Roboto", sans-serif;
  list-style-type: disc;
  background-color: antiquewhite;
  margin: 20px;
  border: 5px solid gray;
  font-size: 1.1em;
}
.about div .education ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 10px;
}
.about div .education li {
  list-style-type: disc;
  align-self: flex-start;
}
.about div .work {
  font-family: "Roboto", sans-serif;
  list-style-type: disc;
  background-color: #fce6c8;
  margin: 20px;
  border: 5px solid gray;
  font-size: 1.1em;
}
.about div .work ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  padding-left: 10px;
}
.about div .work li {
  list-style-type: disc;
  align-self: flex-start;
}
.about div .skills {
  width: 90vw;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about div .skills ul {
  position: center;
  text-align: center;
  flex-wrap: wrap;
}
.about div .skills li {
  font-size: 4em;
}
.about div h3 {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}
.about div ul {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin: 0 0 20px 0;
}
.about div ul li {
  margin: 20px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  padding: 0 2%;
  font-size: 1em;
  padding: 0;
  align-self: center;
}

#about {
  position: relative;
  top: -50px;
}

#projects {
  position: relative;
  top: -50px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid purple;
  padding-bottom: 10px;
  background-color: #f8fbfe;
}
.projects h2 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  align-self: center;
}
.projects div {
  position: center;
  text-align: center;
}
.projects div img {
  width: 300px;
  height: 200px;
  margin: 20px;
  border-radius: 5%;
  box-shadow: 7px 7px 5px #aaaaaa;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  align-self: center;
  margin: 0;
  padding: 10px 0;
  margin-top: 20px;
}
.contact ul {
  list-style-type: none;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  text-align: center;
}
.contact ul li {
  padding: 30px;
  width: 60px;
  margin: 10px;
}
.contact ul a {
  text-decoration: none;
}

@media (min-width: 560px) {
  .education {
    width: 500px;
  }

  .work {
    width: 500px;
  }

  h1 {
    font-size: 2.3em;
  }

  nav ul li {
    font-size: 1.2em;
  }

  .about {
    font-size: 1.2em;
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 2.7em;
  }

  nav ul li {
    font-size: 1.5em;
  }
}
@media (min-width: 1100px) {
  h1 {
    font-size: 3.3em;
  }
}

/*# sourceMappingURL=styles.css.map */
